.django-select2 {
    width: 100% !important;
}

.form-row.tags .select2-container, .form-row.tags .grp-related-widget-tools {
    float: left;
}

.form-row.tags .grp-related-widget-tools {
    padding-left: 0;
}

img.document-preview {
    max-height: 200px;
    border: 1px dashed black;
    display: block;
    margin: 0 auto;
}

.jquery-dialog {
    display: none;
}

.table tbody tr td, table tbody tr th {
    max-width: 1000px;
}

.ui-dialog {
    position: fixed;
}

.ui-widget {
    font-family: inherit;
}

.grp-row textarea {
    font-family: "DejaVu Sans", sans-serif;
    font-weight: normal;
    color: black;
}
