.widget-top-articles {
    &__list {
        @include list-reset;
        padding-right: round(10px*$x);
        padding-left: round(10px*$x);
    }
    &__item {
        margin-bottom: round(20px*$x);
        padding-top: round(20px*$x);
        padding-right: round(10px*$x);
        @include clearfix;
        position: relative;
        font-size: round(14px*$x);
        line-height: round(19px*$x);
        border-top: 2px solid rgba(159, 185, 164, 0.4);
        &:first-child {
            padding-top: 0;
            border-top: 0;
        }
        &-body {
            padding-left: round(15px*$x);
            overflow: hidden;
            min-height: round(64px*$x);
        }
    }
    &__thumbnail {
        position: relative;
        float: left;
        width: round(64px*$x);
        height: round(64px*$x);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        background-color: rgba(159, 185, 164, 0.4);
    }
    &__link {
        color: #666666;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
