.fixed-info {
	position: absolute;
	top: round(38px*$x);
	left: 0;
	z-index: 1000;
	width: round(360px*$x);
	background-color: $white;
	@include border-radius(0 round(8px*$x) round(8px*$x) 0);
	@include max-screen($M_XS) {
		display: none;
	}
	&_mobile {
		position: static;
		width: 100%;
		padding: 40px 5px 0 2px;
		display: none;
		@include border-radius(0);
		@include max-screen($M_XS) {
			display: block;
		}
		@include max-screen(519px) {
			padding-top: 28px;
		}
	}
	&__header {
		position: relative;
		height: round(90px*$x);
		padding-top: round(12px*$x);
		padding-right: round(53px*$x);
		padding-left: round(114px*$x);
		&_mobile {
			position: relative;
			margin-bottom: 30px;
			padding-top: 0;
			padding-right: 30px;
			padding-left: 20px;
			max-width: 520px;
			height: auto;
			font-weight: $bold;
			font-size: 40px;
			line-height: 1;
			font-family: $font-nice;
			color: #efefef;
			text-transform: uppercase;
			letter-spacing: -2px;
			@include max-screen(519px) {
				padding-left: 16px;
				max-width: 380px;
				font-size: 33px;
				line-height: 31px;
			}
			&:before {
				position: absolute;
				left: 0;
				width: 2px;
				display: block;
				content: '';
				top: 2px;
				bottom: 2px;
				background-color: $blue;
				@include max-screen(519px) {
					top: 4px;
					bottom: 4px;
					background-color: #a7cdfb;
				}
			}
		}
		&-text {
			font-size: round(24px*$x);
			line-height: round(33px*$x);
			color: $blue;
		}
	}
	&__button {
		position: absolute;
		left: 0;
		top: 0;
		width: round(90px*$x);
		height: round(90px*$x);
		background-color: $blue;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			background-color: darken($blue, 10%);
		}
		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			fill: $white;
			@include transition();
		}
		.icon_burger {
			margin-left: round(-18px*$x);
			margin-top: round(-18px*$x);
			width: round(36px*$x);
			height: round(36px*$x);
			@include opacity(1);
		}
		.icon_arrow-left-simple {
			margin-top: round(-25px*$x);
			margin-left: round(-17px*$x);
			width: round(27px*$x);
			height: round(49px*$x);
			@include opacity(0);
		}
		&.opened {
			.icon_burger {
				@include opacity(0);
				@include transition();
			}
			.icon_arrow-left-simple {
				@include opacity(1);
				@include transition();
			}
		}
	}
	&__body {
		padding: 0;
		height: 0;
		overflow: hidden;
		@include transition(height 0.6s ease);
		&_mobile {
			overflow: visible;
			height: auto;
			padding-left: 45px;
			@include max-screen(519px) {
				padding-left: 35px;
			}
		}
		&.active {
			@include transition(height 0.6s ease);
		}
		&-inner {
			padding: round(25px*$x) round(30px*$x) round(40px*$x);
		}
		&-slogan {
			margin: 0 0 round(30px*$x);
			font-size: round(24px*$x);
			line-height: round(33px*$x);
			font-weight: $bold;
			color: $black;
			&_mobile {
				margin-bottom: 15px;
				font-size: 16px;
				line-height: 1.28;
				font-family: $font;
				color: #5a5656;
				@include max-screen(519px) {
					margin-bottom: 10px;
					font-size: 14px;
				}
			}
		}
		&-text {
			margin-bottom: round(40px*$x);
			font-size: round(20px*$x);
			line-height: round(24px*$x);
			font-family: $font-serif;
			color: $black;
			strong {
				font-family: $font-serif;
			}
			&_mobile {
				margin-bottom: 0;
				color: #5a5656;
				font-size: 16px;
				line-height: 1.28;
				@include max-screen(519px) {
					font-size: 14px;
				}
			}
		}
	}
}
