.nav {
	position: relative;
	float: right;
	@include max-screen(1150px) {
		float: none;
	}
	&__list {
		@include list-reset;
		text-align: right;
	}
	&__item {
		position: relative;
		float: left;
		padding-left: round(12px*$x);
		padding-right: round(12px*$x);
		@include max-screen(1459px) {
			padding-left: round(8px*$x);
			padding-right: round(8px*$x);
		}
		&_active {
			.nav__link {
				color: $blue;
				border-color: $blue;
			}
		}
	}
	&__link {
		display: block;
		padding: round(4px*$x) round(5px*$x) round(11px*$x);
		font-family: $font;
		font-size: round(16px*$x);
		line-height: round(22px*$x);
		color: $black;
		text-transform: uppercase;
		border-bottom: 2px solid transparent;
		text-decoration: none;
		&:hover {
			color: $blue;
			text-decoration: none;
			border-color: $blue;
		}
	}
}
