.social {
 	&__list {
		@include list-reset;
		@include clearfix;
		position: relative;
        @include max-screen($M_X2S) {
            text-align: center;
        }
	}
	&__item {
		position: relative;
		float: left;
		margin-left: 25px;
        @include max-screen(1459px) {
            margin-left: 15px;
        }
        @include max-screen($M_X2S) {
            float: none;
            @include dib;
            @include dib-fix;
            vertical-align: top;
        }
        &:first-child {
            margin-left: 0;
            @include max-screen(1459px) {
                margin-left: 0;
            }
        }
        &_footer {
            margin-left: 17px;
            &:first-child {
                margin-left: 0;
                @include max-screen(1459px) {
                    margin-left: 0;
                }
            }
            @include max-screen(1459px) {
                margin-left: 17px;
            }
            @include max-screen($M_X2S) {
                position: relative;
        		float: left;
            }
        }
	}
	&__link {
		position: relative;
		width: 42px;
		height: 42px;
		display: block;
		border: 1px solid $blue;
		@include border-radius(50%);
		@include transition(background-color 0.3s ease);
		&:hover {
			background-color: $blue;
			border: 0;
			@include transition(background-color 0.3s ease);
			.icon {
				fill: $white;
				@include transition(fill 0.3s ease);
			}
		}
		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			fill: $blue;
			@include transition(fill 0.3s ease);
			&_fb {
				margin-top: -9px;
				margin-left: -5px;
				height: 18px;
				width: 9px;
			}
			&_tw {
				margin-top: -9px;
				margin-left: -8px;
				height: 18px;
				width: 17px;
			}
			&_gp {
				margin-top: -7px;
				margin-left: -10px;
				height: 14px;
				width: 20px;
			}
		}
        &_footer.social__link {
            width: 30px;
            height: 30px;
            border: 1px solid $grey;
            @include transition;
            .icon {
                fill: $grey;
                &_fb {
    				margin-top: -5px;
    				margin-left: -5px;
    				height: 12px;
    				width: 9px;
    			}
    			&_tw {
    				margin-top: -6px;
    				margin-left: -6px;
    				height: 12px;
    				width: 13px;
    			}
    			&_gp {
    				margin-top: -5px;
    				margin-left: -7px;
    				height: 10px;
    				width: 14px;
    			}
            }
            &:hover {
                border: 1px solid $blue;
                @include transition;
                background-color: transparent;
                .icon {
    				fill: $blue;
    			}
            }
        }
	}
}
