@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin calc($property, $value, $fallback) {
  #{$property}: #{$fallback};
  #{$property}: -moz-calc(#{$value});
  #{$property}: -webkit-calc(#{$value});
  #{$property}: calc(#{$value});
}

$markitup_height: 700px;

.markItUp {
  width: 100% !important;
  max-width: 1200px;
  margin: 0!important;
  position: relative;

  .drop-zone {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(100, 100, 100, 0.3);

    &_inner {
      padding: 1em 2em;
      border-radius: 10px;
      background-color: rgba(50, 50, 50, 0.7);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
    }

    &_text {
      font-size: 300%;
      line-height: 1.5;
    }

    &_image {
      font-size: 1000%;
    }
  }

  &.dragenter {
    .drop-zone {
      display: block;
    }
  }

  .nav-tabs > li.active > a{
    &, &:hover, &:focus{
      background-color: #f9f9f9;
    }
  }

  &Container{
    border: 1px solid#dddddd;
    border-radius: 0 0 5px 5px;
    border-top: none;
    background-color: #f9f9f9;
    box-sizing: border-box;

    &:after {
      content: " ";
      display: table;
      width: 100%;
      clear: both;
    }
  }

  .markItUpHeader {
    width: 100%;
    float: left;
  }

  .markItUpFooter {
    display: none;
  }

  textarea {
    color: black;
    font-family: "DejaVu Sans Mono", monospace;
    width: 49%;
    margin-right: 1%;
    float: left;
    height: $markitup_height;
    @include css3-prefix(tab-size, 4);
  }

  .markItUpPreviewFrame {
    height: $markitup_height;
    margin: 0;
    width: 49%;
    border: 1px solid #ccc;
    @include css3-prefix(border-radius, 3px);
  }

  &.tabbed {
    textarea,
    .markItUpPreviewFrame {
      @include calc("width", "100% + 2px", 100%);
      margin: 0 -1px -1px -1px;
      border-radius: 0 0 5px 5px;
      resize: none;
    }

    .nav-tabs {
      padding-bottom: 38px;
    }

    .markItUpPreviewFrame {
      height: $markitup_height + 20px;
    }

    .markItUpHeader {
      .markItUpButton {
        &.preview{
          display: none;
        }
        &.markItUpFullScreen-minimize {
          display: none;
        }
      }
    }
  }
}

#markItUpFullscreen,
#fullScreenContainer {
  z-index: 3000;
  width: 100vw !important;
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .markItUpContainer {
    height: 100%;
    padding: 0.5%;
    box-sizing: border-box;
  }

  .markItUpHeader {
    width: 98%;
    margin: auto;

    .markItUpButton {
      &.markItUpFullScreen-expand {
        display: none;
      }
    }
  }

  .fullScreenClose {
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 24px;
  }

  .markItUpEditor,
  .markItUpPreviewFrame {
    min-height: unset;
    @include calc(height, "100% - 22px", 99%);
  }

  .markItUpPreviewFrame {
    @include calc(width, "50% - 2px", 49%);
  }
}
