{% load static %}

<meta charset="utf-8">
<title>WHO</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
<meta name="description" content="About WHO">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="imagetoolbar" content="no">
<meta name="msthemecompatible" content="no">
<meta name="cleartype" content="on">
<meta name="HandheldFriendly" content="True">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link href="{% static 'blog/images/favicon/apple-touch-icon-57x57.png' %}" sizes="57x57" rel="apple-touch-icon">
<link href="{% static 'blog/images/favicon/apple-touch-icon-60x60.png' %}" sizes="60x60" rel="apple-touch-icon">
<link href="{% static 'blog/images/favicon/apple-touch-icon-72x72.png' %}" sizes="72x72" rel="apple-touch-icon">
<link href="{% static 'blog/images/favicon/apple-touch-icon-76x76.png' %}" sizes="76x76" rel="apple-touch-icon">
<link href="{% static 'blog/images/favicon/apple-touch-icon-114x114.png' %}" sizes="114x114" rel="apple-touch-icon">
<link href="{% static 'blog/images/favicon/apple-touch-icon-120x120.png' %}" sizes="120x120" rel="apple-touch-icon">
<link href="{% static 'blog/images/favicon/apple-touch-icon-144x144.png' %}" sizes="144x144" rel="apple-touch-icon">
<link href="{% static 'blog/images/favicon/apple-touch-icon-152x152.png' %}" sizes="152x152" rel="apple-touch-icon">
<link href="{% static 'blog/images/favicon/apple-touch-icon-180x180.png' %}" sizes="180x180" rel="apple-touch-icon">
<link href="{% static 'blog/images/favicon/favicon-192.png' %}" rel="apple-touch-icon">
<link href="{% static 'blog/images/favicon/favicon-16x16.png' %}" sizes="16x16" rel="icon" type="image/png">
<link href="{% static 'blog/images/favicon/favicon-32x32.png' %}" sizes="32x32" rel="icon" type="image/png">
<link href="{% static 'blog/images/favicon/favicon-96x96.png' %}" sizes="96x96" rel="icon" type="image/png">
<link href="{% static 'blog/images/favicon/favicon-160x160.png' %}" sizes="160x160" rel="icon" type="image/png">
<link href="{% static 'blog/images/favicon/favicon-192x192.png' %}" sizes="192x192" rel="icon" type="image/png">
<link href="{% static 'blog/images/favicon/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
<meta name="apple-mobile-web-app-title" content="WHO">
<meta name="application-name" content="WHO">
<meta property="og:title" content="WHO">
<meta property="og:site_name" content="WHO">
<meta property="og:title" content="WHO">
<meta property="og:description" content="About WHO">
<link href="{% static 'blog/stylesheets/style.css' %}" type="text/css" rel="stylesheet">
