<div style="height: 0; width: 0; position: absolute; visibility: hidden" class="hidden">
  {% include "partials/svg-images/svg-images.html" %}
</div>
<div class="page">
  <div class="header-wrap">
    {% include "partials/header/header.html" %}
  </div>
  <div class="main-wrap">
    <!--main-->
    <main role="main" class="main">
      <div class="inner inner_content">
        <div class="tagged-page">
          <h2 class="tagged-page__title title-main"><span class="first"><span>T </span></span><span>AGGED IN</span> <em>“{{ tag.name }}”</em>
          </h2>
          {% include "partials/blog-posts/blog-posts.html" with articles=article_list %}
        </div>
      </div>
    </main>
  </div>
  <!--main END-->
  <div class="footer-wrap">
    {% include "partials/footer/footer.html" %}
  </div>
</div>
