{% extends "blog/pages/base.html" %}


{% block content %}
  <div class="inner inner_content">
    <div class="grantee-page">
      <h2 class="grantee-page__title title-main"><span class="first"><span>I </span></span><span>WG GRANTEES</span>
      </h2>
      <div class="blog-full">

        <section class="blog-full__col blog-full__col_sidebar">
          <div class="sidebar">
            {% include "grantee/partials/grantee-rounds.html" %}
          </div>
        </section>
        <section class="blog-full__col blog-full__col_posts">
          {% include "grantee/partials/grantee-list.html" %}
          {% include "blog/partials/posts/posts-nav.html" with page_name="PAGE" next_prefix="NEXT" previous_prefix="PREVIOUS" %}
        </section>
      </div>
    </div>
  </div>
{% endblock %}
