
/* Scaffold styles
*******************************************************************************************************************************/

*,
*:after,
*:before {
	@include box-sizing;
}

html,
body {
	position: relative;
	height: 100%;
}

html {
	font-size: round(10px*$x);;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	min-height: 100%;
	font-family: $font;
	font-size: round(14px*$x);
	color: $dark;
	background-color: #fff;
	@include font-smoothing(on);
	text-rendering: optimizeLegibility;
	font-smooth: always;
	@include min-screen($M_XS+1) {
		position: relative
	}
}

a {
	color: $blue;
	@include transition;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p {
	margin-top: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
	border: none;
}

strong {
	font-weight: $bold;
}

.hidden {
	display: none;
}

.main {
	padding: 0 round(20px*$x);
	@include max-screen($M_X2S) {
		padding-left: round(15px*$x);
		padding-right: round(15px*$x);
	}
}

.page {
	height: 100%;
	width: 100%;
  &-header[canvas]{
    height: 93px;
    width: 100%;
    position: fixed;
    z-index: 2!important;
    top: 0;
  }
	.header-wrap {
		z-index: 60;
    background-color: white;
	}

  [canvas="container"]{
    margin-top: 93px;
    @include calc(height, "100% - 93px", 100%);

    .page-inner{
      display: table;
      table-layout: fixed;
      width: 100%;
      @include calc(min-height, "100vh - 93px", 100%);
    }
  }

  @include max-screen($M_SM3X) {
    &-header[canvas]{
      height: 122px;
    }
    [canvas="container"]{
      margin-top: 122px;
      @include calc(height, "100% - 122px", 100%);
      .page-inner {
        @include calc(min-height, "100vh - 122px", 100%);
      }
    }
  }

  @include max-screen($M_XS) {
    &-header[canvas]{
      height: 78px;
    }
    [canvas="container"]{
      margin-top: 78px;
      @include calc(height, "100% - 78px", 100%);
      .page-inner {
        @include calc(min-height, "100vh - 78px", 100%);
      }
    }
  }

	.main-wrap {
		position: relative;
		z-index: 9;
		display: table-row;
		height: auto;
	}
	.footer-wrap {
		display: table-row;
		height: 1px;
	}
}
