.widget-tags {
    &__list {
        @include list-reset;
        padding-left: round(7px*$x);
        max-height: round(150px*$x);
        overflow: hidden;
    }
    &__item {
        @include dib;
        @include dib-fix;
        padding-right: round(4px*$x);
        padding-bottom: round(7px*$x);
        @include clearfix;
    }
    &__link {
        padding: round(9px*$x) round(13px*$x) round(7px*$x);
        display: block;
        font-size: round(12px*$x);
        line-height: round(14px*$x);
        text-transform: uppercase;
        color: #4d4b52;
        background-color: #e4f0fd;
        @include border-radius(round(15px*$x));
        @include transition();
        &:hover {
            text-decoration: none;
            @include transition();
            background-color: $blue;
            color: $white;
        }
    }
}
