<div id="image-insert-form" style="display: none" title="Upload new image">
    <form>
        <fieldset>
            <p>
                <label for="url">Url:</label>
                <input style="width: 285px" type="url" name="url" id="image-insert-url" placeholder="http://" class="text ui-widget-content ui-corner-all">
            </p>
            <p>or</p>
            <p>
                <label for="file">File:</label>
                <input type="file" name="file" id="image-insert-file" class="text ui-widget-content ui-corner-all">
            </p>

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>