{% load meta %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head {% meta_namespaces %}>
    <meta charset="UTF-8">
    <title>IWG Blog</title>
    {% include "meta/meta.html" %}
</head>
<body>
    {% block content %}{% endblock %}

    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="WHO IWG">
        <meta itemprop="logo" content="http://www.who.int/sysmedia/media/resources/who-logo-en.jpg">
        <meta itemprop="url" content="http://www.who.int">
    </div>
</body>
</html>