.posts-nav {
    @include clearfix;
    margin-bottom: round(30px*$x);
    @include max-screen(639px) {
        padding-top: 30px;
    }
    &__link {
        position: relative;
        display: block;
        &:hover {
            text-decoration: none;
            @include transition;
            .posts-nav__link-text {
                color: $blue;
                @include transition;
            }
        }
        &_prev {
            float: left;
            padding-left: round(18px*$x);
            .icon {
                left: 0;
            }
        }
        &_next {
            float: right;
            padding-right: round(18px*$x);
            .icon {
                right: 0;
            }
        }
        &-text {
            font-size: round(18px*$x);
            line-height: round(21px*$x);
            text-transform: uppercase;
            color: $black;
            @include transition;
            &_no-mobile {
                @include max-screen(639px) {
                    display: none;
                }
            }
        }
        .icon {
            position: absolute;
            top: 50%;
            margin-top: round(-8px*$x);
            width: round(8px*$x);
            height: round(16px*$x);
            display: block;
            fill: $blue;
        }
    }
}
