.markItUp {
    width: 100%!important;
}

.markItUp .markItUpHeader {
    width: 100%;
    float: left;
}

.markItUp .markItUpFooter {
    display: none;
}

.markItUp textarea {
    width: 49%;
    margin-right: 1%;
    float: left;
    min-height: 500px;
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
}

.markItUp .markItUpPreviewFrame {
    min-height: 500px;
    margin: 0;
    width: 49%;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#markItUpFullscreen {
    width: 100vw!important;
    position: fixed;
    background-color: #ffffff;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0 0 1rem;
}

#markItUpFullscreen .markItUpContainer {
    height: 98.5%;
}

#markItUpFullscreen .markItUpHeader {
    width: 98%;
    margin: auto;
}

#markItUpFullscreen .fullScreenClose {
    position: absolute;
    right: 20px;
    top: 4px;
}

#markItUpFullscreen .markItUpEditor, #markItUpFullscreen .markItUpPreviewFrame {
    height: 100%;
}
