.widget-links {
    &__list {
        @include list-reset;
    }
    &__item {
        position: relative;
        margin-bottom: round(20px*$x);
        padding-left: round(66px*$x);
        font-size: round(14px*$x);
        line-height: round(17px*$x);
        .icon {
            position: absolute;
            left: round(29px*$x);
            top: 50%;
            margin-top: round(-6px*$x);
            display: block;
            width: round(14px*$x);
            height: round(12px*$x);
            fill: $blue;
        }
    }
    &__link {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
