.widget-links {
    &__list {
        @include list-reset;
    }
    &__item {
        position: relative;
        margin-bottom: round(20px*$x);
        padding-left: round(66px*$x);
        font-size: round(14px*$x);
        line-height: 1.5;
        font-weight: bold;
        .icon {
            position: absolute;
            left: round(29px*$x);
            top: 50%;
            @include css3-prefix(transform, translateY(-50%));
            display: block;
            height: round(24px*$x);
            fill: $blue;
        }
    }
    &__link {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
