.footer {
	position: relative;
	margin: 0 auto;
	padding-right: round(65px*$x);
	width: 100%;
	max-width: round(1190px*$x);
	@include max-screen($M_SMX) {
		padding-right: 0;
	}
	&:after {
	  content: '';
	  width: 100%;
	  height: 1px;
	  display: table;
	}
	&-wrap-inner {
		padding: round(58px*$x) round(20px*$x) round(37px*$x);
		border-top: 3px solid $blue;
		@include max-screen($M_X2S) {
			padding: round(34px*$x) round(10px*$x) round(32px*$x);
		}
	}
	&__layer {
		&__column {
			float: left;
			padding-left: 1.5rem*$x;
    	padding-right: 1.5rem*$x;
			margin-bottom: 2rem*$x;

			&__social {
				@include min-screen(931px){
					position: absolute;
					right: 0;
				}
			}

			& > * {
				margin-bottom: 2rem;
			}
		}
	}
	&__subscribe {
		@include max-screen($M_X3S) {
			float: none;
			margin-bottom: 2em*$x;
		}
	}
	&__nav {
		@include max-screen($M_XSM) {
			@include clearfix;
			float: none;
			margin-top: round(20px*$x);
		}
		@include max-screen($M_X3S) {
			margin-top: 0;
		}
	}
	&__partners {
		@include max-screen($M_XSM) {
			@include clearfix;
			float: none;
			width: auto;
		}
	}
	&__social {
		&__text {
			text-align: left;
			font-weight: bold;
		}
	}
	&__social, &__nav, &__subscribe {
		&__title {
			text-align: left;
			font-weight: bold;
		}
	}
	&__copy {
		font-size: round(15px*$x);
		line-height: round(17px*$x);
    padding-top: 3rem*$x;
	}
}

@include min-screen(931px) {
		.footer__copy__mobile {
			display: none;
		}

		.footer__partners__mobile {
			display: none;
		}
}

@include max-screen(930px) {
	.footer {
		&__copy, &__partners {
			display: none;
		}

		&__layer__column {
			width: 100%;
			text-align: center;
		}

		&__nav:after {
			display: block;
			content: " ";
			clear: both;
		}

		&__social {
			&__title {
				display: none;
			}

			.social {
				&__item {
					float: none;
					display: inline-block;
				}
			}
		}

		&__nav, &__subscribe {
			&__title {
				text-align: center;
				font-weight: bold;
			}
		}
	}
}


@include min-screen(931px) {
    .footer__layer-nav {
        position: absolute;
        right: 0px;
    }
}


@media screen and (max-width: 970px) and (min-width: 931px) {
    .footer__layer-nav {
        max-width: 580px;
    }
}
