<!--footer-->
<div class="footer-wrap-inner">
  <footer class="footer">
    <div class="footer__layer footer__layer_top">
      <aside class="footer__subscribe">
        {% include "partials/footer/subscribe.html" %}
      </aside>
    </div>
    <div class="footer__layer footer__layer_middle">
      <div class="footer__nav">
        {% include "partials/footer/footer-nav.html" %}
      </div>
      <div class="footer__partners">
        {% include "partials/footer/partners.html" %}
      </div>
    </div>
    <div class="footer__social">
      {% include "partials/social/social.html" %}
    </div>
    <div class="footer__copy">&copy; IWG {% now "Y" %}
    </div>
  </footer>
</div>
<!--footer END-->
