<nav class="footer-nav">
  <h4 class="footer-nav__title">Help and Services
  </h4>
  <div class="footer-nav__cols">
    <ul class="footer-nav__list">
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">Teem</a>
      </li>
      <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Feedback</a>
      </li>
    </ul>
    <ul class="footer-nav__list">
      <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Contacts</a>
      </li>
      <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Partners</a>
      </li>
    </ul>
    <ul class="footer-nav__list">
      <li class="footer-nav__item">
        <a href="{% url 'django.contrib.flatpages.views.flatpage' 'privacy/' %}" class="footer-nav__link">Privacy</a>
      </li>
      <li class="footer-nav__item"> <a href="#" class="footer-nav__link">Programms</a>
      </li>
    </ul>
  </div>
</nav>
