{% load static %}

<div class="partners">
  <ul class="partners__list">
    <li class="partners__item">
      <a href="http://www.unfoundation.org/" target="_blank" class="partners__link">
        <img src="{% static 'images/u-n-f-logo.svg' %}" width="181" height="43" class="partners__logo" alt="">
      </a>
    </li>
    <li class="partners__item">
      <a href="http://www.who.int/" target="_blank" class="partners__link">
        <img src="{% static 'images/w-h-o-logo.svg' %}" width="162" height="50" class="partners__logo" alt="">
      </a>
    </li>
  </ul>
</div>
