{% load staticfiles %}

<div class="partners">
  <ul class="partners__list">
    <li class="partners__item">
      <a href="http://www.unfoundation.org/" target="_blank" class="partners__link">
        <img src="{% static 'images/u-n-f-logo.svg' %}" class="partners__logo partners__logo__unf" alt="">
      </a>
    </li>
    <li class="partners__item">
      <a href="http://www.who.int/" target="_blank" class="partners__link">
        <img src="{% static 'images/w-h-o-logo.svg' %}" class="partners__logo partners__logo__who" alt="">
      </a>
    </li>
  </ul>
</div>
