{% extends "blog/pages/article.html" %}
{% load django_markdown compress %}


{% block content %}
  <div class="inner inner_article inner_error-page">
    <div class="post-page">
      <article class="article">
        <h1 class="article__title article__title__extra">404</h1>
        <div class="article__header">
          <h1 class="article__title">Page not found</h1>
        </div>
        <div class="article__body content-text">
          <p>Sorry, but the page you are looking for has not been found. Try checking the URL for errors, then hit the refresh button on your browser.</p>
        </div>
      </article>
    </div>
  </div>
  <div class="inner inner_category">
    {% if related_articles %}
      <h2 class="title-main">
        <span class="first"><span>C</span></span><span>heck out our latest articles</span>
      </h2>
      {% include "blog/partials/posts/small-posts-list.html" with articles=related_articles related=True %}
    {% endif %}
  </div>
{% endblock %}
