{% extends "blog/pages/base.html" %}
{% load staticfiles compress %}


{% block content %}
  <div class="inner inner_article">
    <div class="post-page">
      {% include "blog/partials/article.html" %}
    </div>
  </div>
  <div class="inner inner_category">
    {% if related_articles %}
      <h2 class="title-main">
        <span class="first"><span>R</span></span><span>ead More</span>
      </h2>
      {% include "blog/partials/posts/small-posts-list.html" with articles=related_articles related=True %}
    {% endif %}
  </div>
{% endblock %}
