@import "./assets/stylesheets/helpers/_mixins.scss";
@import "./assets/stylesheets/helpers/_vars.scss";

.images-gallery-wrapper {
    position: relative;
}

.images-gallery .images-gallery-item {
    padding: 5px;
    float: left;
}

.images-gallery .images-gallery-item img {
    width: 100%;
    height: auto;
}

.images-gallery-paginator {
    position: absolute;
    bottom: -7px;
    left: 50%;
    @include css3-prefix(transform, translateX(-50%));
}

.images-gallery-paginator a {
    position: relative;
    margin: 0 0 0 10px;
    height: 12px;
    width: 12px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #fff;
    @include css3-prefix(border-radius, 100%);
    @include css3-prefix(background-clip, padding-box);
    @include css3-prefix(transition, all 0.3s ease);
}

.images-gallery-paginator a:first-child {
    margin-left: 0;
}

.images-gallery-paginator a:before {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -5px;
    margin-left: -5px;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #4a90e2;
    @include css3-prefix(border-radius, 100%);
    @include css3-prefix(background-clip, padding-box);
    @include css3-prefix(transition, all 0.3s ease);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    @include css3-prefix(opacity, 0);
}

.images-gallery-paginator a.selected:before {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.images-gallery-paginator span {
    display: none;
}

.images-gallery-paginator a:hover {
    @include css3-prefix(transition, all 0.3s ease);
}

@media (min-width: 767px) {
    .images-gallery-paginator {
        display: none;
    }
}

article.article.markdown-cheatsheet div.article__body-content {
    margin: 0 0 0 0;
    max-width: none;
}

article.article.markdown-cheatsheet code {
    white-space: pre-wrap;
}

.bx-wrapper {
    .images-gallery{
        &-item {
            pointer-events: none;
        }
    }
}

.bx-controls {
    position: absolute;
    bottom: 20px;
    height: 12px;
    text-align: center;
    @include calc("top", "50% - 18px", 45%);
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    @include min-screen($M_SM + 1) {
        bottom: round(30px*$x);
    }

    .bx-controls-direction{
        .bx-next, .bx-prev {
            width: 36px;
            height: 34px;
            z-index: 8040;
            background-image: url('../../vendor/fancybox/fancybox_sprite.png');
        }
        .bx-next {
            background-position: 0 -72px;
            float: right;
        }
        .bx-prev {
            background-position: 0 -36px;
            float: left;
        }
    }

    .bx-pager {
        div {
            display: inline;
            margin: 0 0 0 10px;
            @include min-screen($M_XS + 1) {
                margin-left: round(20px*$x);
                width: round(21px*$x);
                height: round(21px*$x);
            }
            &:first-child {
                margin-left: 0;
                @include min-screen($M_XS + 1) {
                    margin-left: 0;
                }
            }
        }
        a {
            position: relative;
            height: 12px;
            width: 12px;
            display: inline-block;
            vertical-align: top;
            border: 2px solid $white;
            @include border-radius(100%);
            @include transition();
            &:before {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -4px;
                margin-left: -4px;
                display: block;
                content: '';
                width: 8px;
                height: 8px;
                background-color: $blue;
                @include border-radius(100%);
                @include transition();
                @include opacity(0);
                @include min-screen($M_XS + 1) {
                    margin-top: round(-6px*$x);
                    margin-left: round(-6px*$x);
                    width: round(12px*$x);
                    height: round(12px*$x);
                }
            }
            &:hover {
                @include transition();
                &:before {
                    @include transition();
                    @include opacity(1);
                }
            }
            &.selected, &.active {
                &:before {
                    @include opacity(1);
                }
            }
            span {
                display: none;
            }
        }
    }
}
