.partners {
	&__list {
		@include list-reset;
		@include max-screen(930px) {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			justify-content: space-around;
	    align-items: center;
		}
	}
	&__item {
		@include dib;
		@include dib-fix;
		vertical-align: middle;
		padding-right: round(28px*$x);
		@include max-screen(930px) {
			max-width: 50%;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	&__link {
		display: block;
	}
	&__logo {
		display: block;
		@include max-screen(930px) {
			width: 100%;
			height: auto;
		}

		&__unf {
			width: 181px*$x;
		}

		&__who {
			width: 162px*$x;
		}
	}
}
