.widget {
    &__title {
        margin-bottom: round(30px*$x);
        padding: 0 round(10px*$x) round(8px*$x) round(20px*$x);
        font-size: round(20px*$x);
        line-height: round(27px*$x);
        color: #666666;
        font-weight: $semibold;
        text-transform: uppercase;
        border-bottom: 2px solid $blue;
        @include max-screen(719px) {
            margin-bottom: 20px;
            padding-bottom: 0;
            font-size: 22px;
            line-height: 30px;
            font-weight: $bold;
            text-align: center;
            color: $dark;
            border: 0;
        }
    }
    &_links {
        margin-bottom: round(42px*$x);
        .widget__title {
            margin-bottom: round(24px*$x);
        }
    }
    &_top-articles {
        margin-bottom: round(42px*$x);
    }
    &_latest-tweets {
        margin-bottom: round(43px*$x);
        .widget__title {
            @include max-screen(719px) {
                margin-bottom: 20px;
            }
        }
    }
    &_tags {
        margin-bottom: round(24px*$x);
        @include max-screen(719px) {
            margin-bottom: 40px;
        }
        .widget__title {
            @include max-screen(719px) {
                margin-bottom: 32px;
            }
        }
    }
    &_docs {
        .widget__title {
            margin-bottom: round(20px*$x);
        }
    }
}
