.search {
	margin-top: round(10px*$x);
	margin-bottom: round(45px*$x);
	@include max-screen($M_X3S) {
		margin-top: 0;
		margin-bottom: 30px;
	}
	&__form {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		&-inner {
			position: relative;
			z-index: 3;
		}
	}
	&__field {
		position: relative;
		padding-right: round(170px*$x);
		&:focus {
			background-color: $white;
			@include transition;
		}
		@include max-screen($M_X3S) {
			padding: 11px 60px 11px 20px;
			height: auto;
			font-size: 14px;
			line-height: 19px;
			border: solid 1px #d4d4d4;
			@include border-radius(round(14px*$x));
		}
	}
	&__button {
		position: absolute;
		top: 0;
		right: 0;
		width: round(142px*$x);
		height: round(50px*$x);
		min-width: 0;
		padding-top: round(14px*$x);
		padding-bottom: round(12px*$x);
		display: block;
		font-size: round(18px*$x);
		line-height: round(24px*$x);
		font-family: $font;
		font-weight: $semibold;
		letter-spacing: 1px;
		@include border-radius(round(15px*$x) round(15px*$x) round(15px*$x) 0);
		text-transform: uppercase;
		&_desktop {
			@include max-screen($M_X3S) {
				display: none;
			}
		}
		&_mobile {
			display: none;
			@include max-screen($M_X3S) {
				display: block;
				width: 50px;
				height: 43px;
				.icon {
					position: absolute;
					top: 50%;
					left: 50%;
					margin-left: -9px;
					margin-top: -9px;
					fill: $white;
					width: 20px;
					height: 20px;
				}
			}
		}
		&:hover,
		&:focus {
			padding-top: round(14px*$x);
			padding-bottom: round(12px*$x);
		}
	}
	&__result {
		margin-top: round(10px*$x);
		padding-left: round(14px*$x);
		font-size: round(18px*$x);
		line-height: 1.333333;
		color: $grey;
		font-style: italic;
		@include max-screen($M_X3S) {
			margin-top: 12px;
			padding-left: 21px;
			font-size: 14px;
		}
	}
}
