{% load staticfiles %}

<!--header-->
<header class="header">
  <div class="header__inner">
    <a href="{% url 'blog:landing_view' %}" style="background-image:url({% static 'blog/images/hrp-logo.svg' %})" class="header__logo"></a>
    <div class="header__search-mobile">
      {% include "blog/partials/search/search-mobile.html" %}
    </div>
    <div class="header-nav-shifted-handle menu-right push-body sb-toggle-right">
      <svg class="icon icon_burger"><use xlink:href="#icon_burger"></use>
      </svg>
    </div>
    <div class="header__search-social">
      <div class="header__social">
        {% url 'blog:landing_view' as landing_url %}
        {% include "blog/partials/social/social.html" %}
      </div>
      <div class="header__search">
        {% include "blog/partials/search/search-top.html" %}
      </div>
    </div>
    <div class="header__nav">
      {% include "blog/partials/header/nav.html" %}
    </div>
  </div>
</header>
<!--header END-->
