<div class="widget-latest-tweets">
  <ul class="widget-latest-tweets__list">
    <li class="widget-latest-tweets__item">
      <svg class="icon icon_tw">
        <use xlink:href="#icon_tw"></use>
      </svg>
      <div class="widget-latest-tweets__body">
        <div class="widget-latest-tweets__text">Lorem ipsum dolor sit amet, consectetur <a href="#">#adipisicing</a>
          elit. Soluta tempore vitae, consequatur harum ipsum iste! <a href="#">#Doloribus</a> quam, asperiores eaque
          quod, inventore
        </div>
        <div class="widget-latest-tweets__author">&#64; IWG
        </div>
      </div>
    </li>
    <li class="widget-latest-tweets__item">
      <svg class="icon icon_tw">
        <use xlink:href="#icon_tw"></use>
      </svg>
      <div class="widget-latest-tweets__body">
        <div class="widget-latest-tweets__text">Lorem ipsum dolor sit amet, consectetur <a href="#">#adipisicing</a>
          elit. Soluta tempore vitae, consequatur harum ipsum iste! <a href="#">#Doloribus</a> quam, asperiores eaque
          quod, inventore
        </div>
        <div class="widget-latest-tweets__author">&#64; IWG
        </div>
      </div>
    </li>
  </ul>
</div>
