.widget-docs {
    &__list {
        @include list-reset;
        padding-right: round(10px*$x);
        padding-left: round(12px*$x);
    }
    &__item {
        @include clearfix;
        margin-bottom: round(26px*$x);
        padding-top: round(20px*$x);
        padding-left: round(10px*$x);
        position: relative;
        font-size: round(14px*$x);
        line-height: round(20px*$x);
        color: #666666;
        border-top: 2px solid rgba(159, 185, 164, 0.4);
        &:first-child {
            padding-top: 0;
            border-top: 0;
        }
        &-body {
            padding-left: round(20px*$x);
            overflow: hidden;
            min-height: round(96px*$x);
        }
    }
    &__thumbnail {
        position: relative;
        float: left;
        margin-top: round(5px*$x);
        width: round(62px*$x);
        height: round(90px*$x);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        background-color: transparent;
    }
    &__file-image {
        position: absolute;
        top: round(51px*$x);
        left: round(31px*$x);
        height: round(47px*$x);
        display: block;
    }
    &__link {
        color: #666666;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
