{% extends "base.html" %}
{% load staticfiles compress %}


{% block head %}
  {{ block.super }}

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="imagetoolbar" content="no">
  <meta name="msthemecompatible" content="no">
  <meta name="cleartype" content="on">
  <meta name="HandheldFriendly" content="True">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link href="{% static 'blog/images/favicon/favicon-192x192.png' %}" rel="apple-touch-icon">
  <link href="{% static 'blog/images/favicon/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
  <meta name="apple-mobile-web-app-title" content="WHO">
  <meta name="application-name" content="WHO">

{% endblock %}


{% block styles %}
  {% compress css %}
    <link href="{% static 'blog/scss/assets/stylesheets/style.scss' %}" type="text/x-scss" rel="stylesheet">
  {% endcompress %}
  <!-- [if gte IE 9]
    <style>
      .gradient {
      	filter: none;
      }
    </style>![endif]-->
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script src="{% static 'vendor/modernizr-2.6.1.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-migrate-1.2.1.min.js' %}"></script>
  <script src="{% static 'vendor/retina.min.js' %}"></script>
  <script src="{% static 'vendor/masonry.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/slidebars.js' %}"></script>
  <script src="{% static 'js/tools.js' %}"></script>
{% endblock %}
