{% extends "layouts/default.html" %}
{% load static compress %}


{% block styles %}
  {{ block.super }}
  <link href="{% static 'vendor/fancybox/jquery.fancybox.css' %}" type="text/css" rel="stylesheet">
  {% compress css %}
    <link href="{% static 'css/alerts.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/bootstrap-grid.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'blog/css/images-gallery.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'blog/css/custom.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'blog/scss/cookies-policy.scss' %}" type="text/x-scss" rel="stylesheet">
  {% endcompress %}
{% endblock %}


{% block page %}
  <div style="height: 0; width: 0; position: absolute; visibility: hidden" class="hidden">
    {% include "partials/utils/svg-images.html" %}
  </div>
  <div class="page" id="sb-site">
    <div class="header-wrap">
      {% include "partials/header/header.html" %}
    </div>

    <div class="messages-wrap">
      {% include "partials/widgets/messages.html" %}
    </div>

    <div class="main-wrap">
      <!--main-->
      <main role="main" class="main">
        {% block content %}
        {% endblock %}
      </main>
    </div>
    <!--main END-->
    <div class="footer-wrap">
      {% include "partials/footer/footer.html" %}
    </div>
  </div>

  {% include "partials/menu/menu-aside.html" %}

{% endblock %}


{% block scripts %}
  {{ block.super }}
  {% compress js %}
    <script src="{% static 'vendor/jquery.sticky-kit.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.carouFredSel.js' %}"></script>
    <script src="{% static 'vendor/jquery.touchSwipe.min.js' %}"></script>
    <script src="{% static 'vendor/fancybox/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'blog/js/images-gallery.js' %}"></script>
    <script src="{% static 'blog/js/cookies-policy.js' %}"></script>
    <script src="{% static 'blog/js/utils.js' %}"></script>
    <script src="{% static 'blog/js/share-utils.js' %}"></script>
    <script>
      $(function () {
        $('.messages-wrap').stick_in_parent();
        $('.alert .close').click(function () {
          $(this).parents('.alert').animate({
            height: "0px",
            "padding-top": "0px",
            "padding-bottom": "0px",
            "margin-top": "0px",
            "margin-bottom": "0px",
            opacity: "0"
          }, function () {
            $(this).hide();
          });
        });
      });
    </script>
    <script>
      !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = p + "://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
        }
      }(document, "script", "twitter-wjs");
    </script>
  {% endcompress %}
  {% include "include/cookies-policy.html" %}
{% endblock %}