<div style="height: 0; width: 0; position: absolute; visibility: hidden" class="hidden">
  {% include "partials/svg-images/svg-images.html" %}
</div>
<div class="page">
  <div class="header-wrap">
    {% include "partials/header/header.html" %}
  </div>
  <div class="main-wrap">
    <!--main-->
    <main role="main" class="main">
      <div class="inner inner_article">
        <div class="post-page">
          {% include "partials/article/article.html" %}
        </div>
      </div>
      <div class="inner inner_category">
        {% include "partials/category-list/category-list-related.html" with articles=related_articles %}
      </div>
    </main>
  </div>
  <!--main END-->
  <div class="footer-wrap">
    {% include "partials/footer/footer.html" %}
  </div>
</div>
