<nav class="footer-nav">
  <div class="footer-nav__cols">
    <div class="footer-nav__list">
      <div class="footer-nav__column">
        <div class="footer-nav__item">
          <a href="{% url 'blog:landing_view' %}" class="footer-nav__link">Home</a>
        </div>
        <div class="footer-nav__item">
          <a href="{% url 'django.contrib.flatpages.views.flatpage' 'expert-group/' %}" class="footer-nav__link">Expert Group</a>
        </div>
        <div class="footer-nav__item">
          <a href="{% url 'django.contrib.flatpages.views.flatpage' 'about/' %}" class="footer-nav__link">About Us</a>
        </div>
      </div>
      <div class="footer-nav__column">
        <div class="footer-nav__item">
          <a href="{% url 'grantee:grantee_list_view' %}" class="footer-nav__link">IWG Grantees</a>
        </div>
        <div class="footer-nav__item">
          <a href="{% url 'django.contrib.flatpages.views.flatpage' 'opensrp/' %}" class="footer-nav__link">OpenSRP</a>
        </div>
        <div class="footer-nav__item">
          <a href="{% url 'django.contrib.flatpages.views.flatpage' 'privacy/' %}" class="footer-nav__link">Privacy policy</a>
        </div>
      </div>
    </div>
  </div>
</nav>
