.footer-nav {
	&__title {
		margin: 0 0 20px;
		font-size: 15px;
		line-height: 20px;
		font-weight: $bold;
		color: $dark-grey;
		@include max-screen(930px) {
			margin-bottom: 28px;
			text-align: center;
		}
	}
	&__list {
		@include list-reset;
		position: relative;
		float: left;
		@include max-screen(930px) {
			@include clearfix;
			float: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 18px;
			padding-left: 20px;
			width: 100%;
			max-width: 410px;
			text-align: left;
		}
	}
	&__item {
		position: relative;
		padding-left: 26px;
		font-size: 15px;
		line-height: 20px;
		color: $dark-grey;
		display: inline-block;
		@include max-screen(930px) {
			float: left;
			width: 50%;
			padding-right: 10px;
		}
		@include min-screen(1200px) {
			&:first-of-type {
				padding-left: 12px;

				&:before {
					left: 0;
				}
			}
		}
		&:before {
			position: absolute;
			left: 13px;
	    top: 8px;
			display: block;
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 3px;
			background-color: $dark-grey;
		}
		a:hover {
			text-decoration: none;
		}
		&:hover {
			color: $blue;

			&:before {
				background-color: $blue;
			}
		}
	}
	&__link {
		display: inline-block;
		vertical-align: top;
		font-family: $font;
		font-size: 15px;
		line-height: 20px;
		color: $dark-grey;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
