+b('nav').footer-nav
    +e('h4').title Help and Services
    +e.cols
        +e('ul').list
            +e('li').item
                +e.link(href="#") Teem
            +e('li').item 
                +e.link(href="#") Feedback
        +e('ul').list    
            +e('li').item 
                +e.link(href="#") Contacts
            +e('li').item 
                +e.link(href="#") Partners
        +e('ul').list    
            +e('li').item 
                +e.link(href="#") Privacy
            +e('li').item 
                +e.link(href="#") Programms
