.article-content-preview_container .article-content-preview_link {
    text-decoration: none;
}

.article-content-preview_container .article-content-preview_link:hover .article-content-preview {
    border-color: #478ad9;
    border-width: 2px;
    margin: -1px;
}

.article-content-preview_container .article-content-preview__title,
.article-content-preview_container .article-content-preview__text {
    font-style: normal;
}

.article-content-preview_container .article-content-preview__text {
    color: #262626;
}

.article-content-preview_container .article-content-preview__link {
    text-decoration: underline;
}

pre {
    background: #f0f0f0;
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.7em !important;
}

table {
    width: 100%;
    font-size: 0.8em;
}
table th, table td {
    padding: 7px 15px;
}
table tr td:nth-child(n+2) {
    border-left: 1px solid #e8e8e8;
}
table tr th {
    background: #fafafa;
    border-bottom: 1px solid #a8a8a8;
}
table tr td {
    border-bottom: 1px solid #e8e8e8;
}

figure {
    text-align: center;
}
figure figcaption {
    font-size: 0.75em;
    font-style: italic;
    max-width: 700px;
    margin: 0px auto;
}
