.categories {
	margin-left: round(-20px*$x);
	margin-right: round(-20px*$x);
	padding: round(12px*$x) round(20px*$x) round(13px*$x);
	border-bottom: 1px solid #cccccc;
	@include max-screen($M_X2S) {
		padding-bottom: 11px;
    margin-left: round(-15px*$x);
		margin-right: round(-15px*$x);
	}
	&__list {
		@include list-reset;
		text-align: center;
		@include max-screen($M_X2S) {
			margin-right: auto;
			max-width: 400px;
			margin-left: auto;
		}
	}
	&__item {
		@include dib;
		@include dib-fix;
		padding-left: round(25px*$x);
		padding-right: round(25px*$x);
		@include max-screen($M_X2S) {
			padding: 9px;
		}
	}
	&__link {
		position: relative;
		display: block;
		padding: 0 0 round(2px*$x);
		font-family: $font;
		font-size: round(18px*$x);
		line-height: round(24px*$x);
		font-weight: $bold;
		color: $blue;
		text-transform: uppercase;
		text-decoration: none;
		@include transition();
		@include max-screen($M_X2S) {
			min-width: 120px;
			min-height: 65px;
			padding: 23px 15px 10px;
			font-size: 15px;
			line-height: 20px;
			color: $white;
			background-color: $blue;
			@include border-radius;
		}
		&:after {
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: round(-15px*$x);
			height: 1px;
			width: round(30px*$x);
			display: block;
			content: '';
			background-color: $blue;
			@include transition();
			@include max-screen($M_X2S) {
				bottom: 20px;
				background-color: $white;
			}
		}
		&:hover {
			color: darken($blue, 10%);
			text-decoration: none;
			@include transition();
			@include max-screen($M_X2S) {
				color: $white;
				background-color: darken($blue, 10%);
			}
			&:after {
				background-color: darken($blue, 10%);
				@include transition();
				@include max-screen($M_X2S) {
					background-color: $white;
				}
			}
		}
	}
}
