<div class="fixed-info fixed-info_mobile">
  <div class="fixed-info__header fixed-info__header_mobile">Digital strategies for RMNCAH
  </div>
  <div class="fixed-info__body fixed-info__body_mobile">
    <h5 class="fixed-info__body-slogan fixed-info__body-slogan_mobile">Reproductive, Maternal, Newborn, Child, and Adolescent Health
    </h5>
    <div class="fixed-info__body-text fixed-info__body-text_mobile">This is a joint effort between <strong>UNF</strong> and <strong>WHO/HRPand </strong> reflects the work conducted related to the <strong>Innovation Working Group Catalytic Grant Mechanism </strong> and guidance materials.
    </div>
  </div>
</div>
