.content-text {
	font-size: round(22px*$x);
	line-height: 1.636363;
	font-family: $font-serif;
	@include max-screen($M_XSM) {
		font-size: 18px;
	}
	@include max-screen($M_X3S) {
		font-size: 16px;
	}
	h3 {
		margin: 0 0 round(18px*$x);
		font-size: round(30px*$x);
		line-height: 1.2;
		font-family: $font-nice;
		font-weight: $normal;
		color: #7a7a7a;
		@include max-screen($M_XSM) {
			font-size: 24px;
		}
		@include max-screen($M_X3S) {
			margin-bottom: 12px;
			font-size: 22px;
		}
	}
	h4 {
		margin: 0 0 round(18px*$x);
		font-size: round(22px*$x);
		line-height: 1.636363;
		font-family: $font-serif;
		font-weight: $bold;
		color: $dark;
		@include max-screen($M_XSM) {
			font-size: 18px;
		}
		@include max-screen($M_X3S) {
			margin-bottom: 12px;
			font-size: 16px;
		}
	}
	a {
		text-decoration: underline;
		font-style: italic;
		&:hover {
			text-decoration: none;
		}
	}
	strong {
		font-family: $font-serif;
	}
	img.full-width {
		margin-bottom: round(10px*$x);
		width: 100%;
		height: auto;
	}
	p {
		margin-bottom: round(20px*$x);
		@include max-screen($M_XSM) {
			margin-bottom: 15px;
		}
		& + h3 {
			margin-top: round(40px*$x);
			@include max-screen($M_XSM) {
				margin-top: 30px;
			}
		}
		& + .intro {
			margin-top: 0;
		}
	}
	ul,
	ol {
		margin: round(30px*$x) 0;
		padding: 0 round(70px*$x) 0 round(58px*$x);
		list-style: none outside none;
		@include max-screen($M_XSM) {
			margin: 20px 0;
			padding-right: 40px;
			padding-left: 38px;
		}
		@include max-screen($M_X2S) {
			padding-left: 28px;
			padding-right: 10px;
		}
		@include max-screen(419px) {
			padding-right: 0;
			padding-left: 18px;
		}
		& + h3 {
			margin-top: round(40px*$x);
			@include max-screen($M_XSM) {
				margin-top: 30px;
			}
		}
		& + .intro {
			margin-top: 0;
		}
		& > li {
			position: relative;
			margin: 0 0 round(30px*$x);
			padding: 0 0 0 round(24px*$x);
			display: block;
			font-size: round(20px*$x);
			line-height: 1.5;
			font-style: italic;
			@include max-screen($M_XSM) {
				margin-bottom: 20px;
				font-size: 17px;
			}
			@include max-screen($M_X3S) {
				margin-bottom: 16px;
				font-size: 15px;
			}
			&:before {
				position: absolute;
				left: 0;
				top: round(11px*$x);
				width: round(7px*$x);
				height: round(8px*$x);
				display: block;
				content: '';
				background-color: $blue;
				@include border-radius(round(3px*$x));
				@include max-screen($M_XSM) {
					top: 8px;
				}
			}
		}
	}
	ol {
		counter-reset: item;
    & > li {
			&:before {
				top: 0;
				left: 0;
				width: auto;
				height: auto;
				background: 0;
				color: $blue;
				@include border-radius(0);
        counter-increment: item;
        content: counters(item, ".") ". ";
				font-size: round(20px*$x);
				line-height: 1.5;
				@include max-screen($M_XSM) {
					font-size: 17px;
				}
				@include max-screen($M_X3S) {
					font-size: 15px;
				}
			}
			ol {
				& > li {
          padding-left: 30px;
					&:before {
					}
					ol {
						& > li {
              padding-left: 40px;
							&:before {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	.intro {
		margin-top: round(-15px*$x);
		margin-bottom: round(20px*$x);
		font-size: round(25px*$x);
		line-height: 1.4;
		font-family: $font;
		font-weight: $bold;
		color: #b5b5b5;
		@include max-screen($M_XSM) {
			margin-top: -8px;
			margin-bottom: 18px;
			font-size: 21px;
		}
		@include max-screen($M_X3S) {
			font-size: 18px;
		}
	}
	.info {
		margin-top: round(67px*$x);
		color: #7a7a7a;
		font-size: round(19px*$x);
		line-height: 1.263;
		@include max-screen($M_XSM) {
			margin-top: 47px;
			font-size: 17px;
		}
		@include max-screen($M_X3S) {
			margin-top: 38px;
			font-size: 15px;
		}
		h5 {
			margin: 0 0 round(27px*$x);
			font-size: round(22px*$x);
			line-height: 1.6363;
			font-family: $font-serif;
			font-weight: $normal;
			font-style: italic;
			color: #7a7a7a;
			@include max-screen($M_XSM) {
				margin-bottom: 18px;
				font-size: 20px;
			}
			@include max-screen($M_X3S) {
				margin-bottom: 15px;
				font-size: 18px;
			}
		}
		p {
			margin-bottom: round(20px*$x);
			@include max-screen($M_X3S) {
				margin-bottom: 18px;
			}
		}
	}
	.top-offset {
		margin-top: round(30px*$x);
	}
	blockquote {
		margin: 0 0 round(34px*$x);
		padding: round(15px*$x) round(86px*$x) 0 round(82px*$x);
		position: relative;
		font-family: $font;
		font-weight: $lighter;
		font-style: italic;
		@include max-screen($M_XSM) {
			margin-bottom: 20px;
			padding-top: 10px;
			padding-right: 30px;
			padding-left: 40px;
		}
		@include max-screen($M_X3S) {
			margin-bottom: 16px;
			padding-top: 0;
			padding-right: 10px;
			padding-left: 30px;
		}
		&:before {
			position: absolute;
			left: round(45px*$x);
			top: round(13px*$x);
			height: round(96px*$x);
			display: block;
			content: "\201C";
			font-size: round(70px*$x);
			line-height: 1;
			font-weight: $normal;
			color: $blue;
			@include max-screen($M_XSM) {
				font-size: 50px;
				left: 12px;
				top: 10px;
			}
			@include max-screen($M_X3S) {
				font-size: 45px;
				top: 0px;
				left: 6px;
			}
		}
		p {
			margin-bottom: round(5px*$x);
		}
		cite {
			display: block;
			font-style: normal;
			text-align: right;
			&:before {
				display: inline;
				content: "\2014   ";
			}
		}
	}
	.article__body-text {
		ul,
		ol {
			padding-left: round(84px*$x);
			@include max-screen($M_XSM) {
				padding-left: 58px;
			}
			@include max-screen($M_X2S) {
				padding-left: 40px;
			}
			@include max-screen(419px) {
				padding-left: 25px;
			}
			li {
				ul,
				ol {
					padding-left: round(29px*$x);
					@include max-screen($M_XSM) {
						padding-left: 12px;
					}
					@include max-screen($M_X2S) {
						padding-left: 6px;
					}
					@include max-screen(419px) {
						padding-left: 0;
					}
				}
			}
		}
	}
}
