.article {
    margin: 0 auto;
    padding-bottom: round(20px*$x);
    width: 100%;
    max-width: $content-width-min;
    @include max-screen($M_X3S) {
        padding-bottom: 10px;
    }
    &__header {
        margin-bottom: round(40px*$x);
        @include max-screen($M_XS) {
            margin-bottom: 30px;
        }
        @include max-screen($M_X2S) {
            margin-bottom: 20px;
        }
    }
    &__title {
        margin: 0 0 round(10px*$x);
        font-size: round(50px*$x);
        line-height: 1.2;
        font-family: $font-nice;
        font-weight: $bold;
        color: $dark-grey;

        &__extra {
            font-size: round(76px*$x);
            line-height: 1.5;
        }

        @include max-screen($M_SM) {
            font-size: round(40px*$x);
        }
        @include max-screen($M_XS) {
            font-size: 30px;
        }
        @include max-screen($M_X2S) {
            font-size: 24px;
        }
    }
    &__category {
        font-size: round(22px*$x);
        line-height: 1.3636;
        letter-spacing: round(3px*$x);
        color: $grey;
        @include max-screen($M_X2S) {
            font-size: 18px;
            letter-spacing: 1px;
        }
    }
    &__meta {
        @include clearfix;
        position: relative;
        padding-bottom: round(10px*$x);
        font-size: round(16px*$x);
        line-height: round(22px*$x);
        letter-spacing: round(2px*$x);
        color: $grey;
        text-transform: uppercase;
        @include max-screen($M_X2S) {
            font-size: 13px;
            letter-spacing: 1px;
        }
        @include max-screen(429px) {
			font-size: 10px;
			line-height: 1.4;
		}
        &-tags {
            position: relative;
            float: left;
            @include list-reset;
            @include max-screen($M_X3S) {
                @include clearfix;
                float: none;
            }
        }
        &-tag {
            position: relative;
            float: left;
            margin-right: round(15px*$x);
            @include max-screen($M_X2S) {
            margin-right: 8px;
            margin-bottom: 4px;
			}
        }
        &-link {
            display: block;
            color: $grey;
            text-decoration: none;
            &:hover {
                color: $blue;
                text-decoration: none;
            }
        }
        &-date {
            position: relative;
            float: right;
            @include max-screen($M_X3S) {
                float: none;
                text-align: left;
            }
            @include max-screen(429px) {
                margin-top: 4px;
            }
            sub {
                position: static;
                font-size: round(12px*$x);
                line-height: round(22px*$x);
                @include max-screen($M_SM) {
                    font-size: 11px;
                }
                @include max-screen($M_X2S) {
                    font-size: 10px;
                    line-height: 1.4;
                }
            }
        }
    }
    &__main-image {
        margin-bottom: round(40px*$x);
        width: 100%;
        height: auto;
        @include max-screen($M_XSM) {
            margin-bottom: 30px;
        }
    }
    &__body {
        &-content {
            margin: 0 auto round(40px*$x);
            width: 100%;
            max-width: round(700px*$x);
            @include max-screen($M_XSM) {
                margin-bottom: 30px;
            }

            $justify-selector: "*";
            @for $i from 1 through 6 {
                $justify-selector: $justify-selector + ":not(h#{$i})";
            }
            #{$justify-selector} {
                text-align: justify;
            }
        }
        &-text,
        &-incut {
            margin-bottom: round(40px*$x);
            width: 100%;
            @include max-screen($M_XSM) {
                margin-bottom: 30px;
            }

            & > img,
            & > a > img {
                display: block;
                margin-right: auto;
                margin-left: auto;
            }
        }
        &-incut {
            &-video {
                position: relative;
                &:before {
                    padding-bottom: 56.25%;
                    width: 100%;
                    height: 0;
                    display: block;
                    content: '';
                }
                iframe {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .article {
                &-content-preview {
                    @include clearfix;
                    padding: round(28px*$x) round(36px*$x) round(30px*$x);
                    border: 1px solid $blue;
                    @include border-radius;
                    @include max-screen($M_X2S) {
                        padding: 20px 26px 18px;
                    }
                    @include max-screen(419px) {
                        padding: 10px 15px 12px;
                    }
                    &__thumbnail {
                        position: relative;
                        float: left;
                        margin-top: round(8px*$x);
                        width: round(128px*$x);
                        height: round(128px*$x);
                        display: block;
                        background-color: transparent;
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        @include max-screen($M_X2S) {
                            width: round(110px*$x);
                            height: round(110px*$x);
                        }
                        @include max-screen(419px) {
                            width: round(85px*$x);
                            height: round(85px*$x);
                        }
                    }
                    &__body {
                        overflow: hidden;
                        padding-left: round(36px*$x);
                        min-height: round(128px*$x);
                        @include max-screen($M_X2S) {
                            padding-left: 20px;
                        }
                        @include max-screen(419px) {
                            padding-left: 15px;
                        }
                    }
                    &__title {
                        margin: 0 0 round(4px*$x);
                        font-size: round(26px*$x);
                        line-height: 1.384;
                        font-family: $font;
                        font-weight: $normal;
                        color: #666666;
                        @include max-screen($M_X2S) {
                            font-size: 20px;
                        }
                        @include max-screen(419px) {
                            font-size: 18px;
                        }
                    }
                    &__text {
                        margin-bottom: round(7px*$x);
                        font-size: round(18px*$x);
                        line-height: 1.6667;
                        font-family: $font-serif;
                        @include max-screen($M_X2S) {
                            margin-bottom: 4px;
                            font-size: 16px;
                        }
                        @include max-screen(419px) {
                            font-size: 14px;
                        }
                    }
                    &__link {
                        font-size: round(18px*$x);
                        line-height: 1.6667;
                        font-family: $font-serif;
                        color: #7a7a7a;
                        display: inline-block;
                        @include max-screen($M_X2S) {
                            font-size: 16px;
                        }
                        @include max-screen(419px) {
                            font-size: 14px;
                        }
                    }
                }
                &-gallery {
                    @include clearfix;
                    margin-left: round(-5px*$x);
                    margin-right: round(-5px*$x);
                    @include max-screen(999px) {
                        text-align: center;
                    }
                    &__img {
                        max-width: none;
                        float: left;
                        margin-bottom: round(10px*$x);
                        margin-right: round(10px*$x);
                        @include max-screen(999px) {
                            float: none;
                            margin-bottom: 20px;
                            max-width: 100%;
                            height: auto !important;
                        }
                    }
                }
                &-download {
                    position: relative;
                    @include clearfix;
                    padding: round(25px*$x) round(44px*$x) round(30px*$x) round(54px*$x);
                    border: 1px solid $blue;
                    @include border-radius;
                    @include max-screen($M_SM) {
                        padding: 20px 36px 22px 30px;
                    }
                    @include max-screen($M_X3S) {
                        padding: 15px 36px 15px 15px;
                    }
                    &__thumbnail {
                        position: relative;
                        float: left;
                        width: round(99px*$x);
                        height: round(145px*$x);
                        display: block;
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-color: transparent;
                        @include max-screen($M_X3S) {
                            width: 70px;
                            height: 102px;
                        }
                        img {
                            position: absolute;
                            left: round(52px*$x);
                            top: round(95px*$x);
                            width: round(59px*$x);
                            height: round(59px*$x);
                            @include max-screen($M_X3S) {
                                left: 38px;
                                top: 70px;
                                width: 39px;
                                height: 39px;
                            }
                        }
                    }
                    &__body {
                        overflow: hidden;
                        padding-left: round(32px*$x);
                        min-height: round(145px*$x);
                        @include max-screen($M_X2S) {
                            padding-left: 20px;
                        }
                        @include max-screen($M_X3S) {
                            min-height: 100px;
                        }
                    }
                    &__title {
                        font-size: round(26px*$x);
                        line-height: 1.355;
                        font-family: $font;
                        font-weight: $normal;
                        color: #666666;
                        @include max-screen($M_SM) {
                            margin-top: 15px;
                        }
                        @include max-screen($M_XSM) {
                            margin-top: 10px;
                            font-size: 38px;
                        }
                        @include max-screen($M_X2S) {
                            font-size: 28px;
                        }
                        @include max-screen($M_X3S) {
                            margin-top: 6px;
                            font-size: 18px;
                        }

                    }
                    &__file-name {
                        font-size: round(18px*$x);
                        line-height: 1.357;
                        font-family: $font-serif;
                        color: #7a7a7a;
                        @include max-screen($M_XSM) {
                            margin-bottom: 20px;
                        }
                        @include max-screen($M_X3S) {
                            margin-bottom: 40px;
                            font-size: 13px;
                        }
                    }
                    &__link {
                        position: absolute;
                        right: round(23px*$x);
                        bottom: round(21px*$x);
                        display: block;
                        width: round(43px*$x);
                        height: round(43px*$x);
                        @include border-radius(50%);
                        background-color: $white;
                        @include transition();
                        @include max-screen($M_SM) {
                            right: 15px;
                            bottom: 15px;
                        }
                        @include max-screen($M_XSM) {
                            width: 27px;
                            height: 27px;
                        }
                        &:hover {
                            background-color: $blue;
                            @include transition();
                            .icon {
                                fill: $white;
                                @include transition();
                            }
                        }
                        .icon {
                            position: absolute;
                            left: -0px;
                            top: -0.5px;
                            display: block;
                            width: round(45px*$x);
                            height: round(45px*$x);
                            fill: $blue;
                            @include transition();
                            @include max-screen($M_XSM) {
                                width: 30px;
                                height: 30px;
                                left: -1px;
                                top: -1px;
                            }
                        }
                    }
                }
            }
        }
    }
    &-footer {
        @include clearfix;
        position: relative;
        padding-left: round(10px*$x);
        padding-right: round(10px*$x);
        font-size: round(16px*$x);
        line-height: round(22px*$x);
        letter-spacing: round(2px*$x);
        color: $grey;
        text-transform: uppercase;
        border-top: 2px solid rgba(159, 185, 164, 0.4);
        @include max-screen($M_X2S) {
            font-size: 13px;
            letter-spacing: 1px;
        }
        @include max-screen(429px) {
			font-size: 10px;
			line-height: 1.4;
		}
        &__tags {
            position: relative;
            float: left;
            @include list-reset;
            padding-top: round(19px*$x);
            @include max-screen($M_X2S) {
                padding-top: 12px;
            }
            @include max-screen($M_X3S) {
                @include clearfix;
                float: none;
            }
        }
        &__tag {
            position: relative;
            float: left;
            margin-right: round(15px*$x);
            @include max-screen($M_X2S) {
				margin-right: 8px;
			}
        }
        &__link {
            display: block;
            color: $grey;
            text-decoration: none;
            &:hover {
                color: $blue;
                text-decoration: none;
            }
        }
        &__social {
            position: relative;
            float: right;
            padding-top: round(15px*$x);
            @include max-screen($M_X2S) {
                padding-top: 10px;
            }
            @include max-screen($M_X3S) {
                float: none;
                padding-top: 14px;
                text-align: left;
            }
        }
    }
}
