{% load django_markdown %}


<article class="article">
  <div class="article__header">
    <h1 class="article__title">{{ article.title }}
    </h1>
    <div class="article__category">
      <a href="{{ article.category.get_absolute_url }}" class="article__meta-link">{{ article.category.name }}</a>
    </div>
  </div>
  <div class="article__meta">
    <ul class="article__meta-tags">
      {% for tag in article.tags.all %}
        <li class="article__meta-tag">
          <a href="{{ tag.get_absolute_url }}" class="article__meta-link">#{{ tag.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="article__meta-date">
      {{ article.published_at |date:"j<\s\u\b>S</\s\u\b> F, Y" |safe }}
    </div>
  </div>
  <img src="{{ article.cover_image.url }}" class="article__main-image" alt="">
  <div class="article__body content-text">
    {{ article.content |markdown }}

    {% for document in article.documents.all %}
      <div class="article__body-incut">
        {% include "attachments/widgets/document-link.html" %}
      </div>
    {% endfor %}
  </div>
</article>

<div class="article-footer">
  <ul class="article-footer__tags">
    {% for tag in article.tags.all %}
      <li class="article-footer__tag">
        <a href="{{ tag.get_absolute_url }}" class="article-footer__link">#{{ tag.name }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="article-footer__social">
    {% include "partials/social/social-footer.html" %}
  </div>
</div>
