.post {
    &__image {
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        @include max-screen($M_SM) {
            margin-bottom: 20px;
        }
        @include max-screen($M_X2S) {
            margin-bottom: 10px;
        }
        &:before {
            width: 100%;
            padding-bottom: 66.627%;
            height: 0;
            display: block;
            content: '';
            @include screen(719px, $M_XS) {
                padding-bottom: 80%;
            }
            @include max-screen($M_X2S) {
                padding-bottom: 80%;
            }
        }
    }
    &__title {
        margin: 0 0 20px;
        width: 100%;
        max-width: 760px;
        font-size: 36px;
        line-height: 1.36;
        font-weight: $bold;
        color: $dark;
        @include max-screen($M_SM) {
            margin-bottom: 15px;
            font-size: 30px;
        }
        @include max-screen($M_X2S) {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 20px;
        }
    }
    &__body {
        @include clearfix;
        padding-bottom: 16px;
    }
    &__button {
        position: relative;
        float: right;
        margin-top: 12px;
        @include max-screen($M_SM) {
            margin-top: 6px;
        }
        &.desktop-only {
            @include screen(719px, $M_XS) {
                display: none;
            }
            @include max-screen($M_X2S) {
                display: none;
            }
        }
    }
    &__text {
        overflow: hidden;
        padding-right: 30px;
        font-size: 18px;
        line-height: 1.6666;
        font-family: $font-serif;
        @include max-screen($M_SM) {
            font-size: 16px;
        }
        @include screen(719px, $M_XS) {
            padding-right: 0;
        }
        @include max-screen($M_X2S) {
            padding-right: 0;
            font-size: 14px;
            line-height: 20px;
        }
    }
    &__footer {
        @include clearfix;
        position: relative;
        padding-bottom: 53px;
        font-size: 16px;
        line-height: 1.375;
        letter-spacing: 2px;
        color: $grey;
        text-transform: uppercase;
        border-top: 1px solid rgba(159, 185, 164, 0.4);
        @include max-screen($M_SM) {
            font-size: 14px;
            letter-spacing: 1px;
        }
        @include screen(719px, $M_XS) {
            padding-bottom: 13px;
        }
        @include max-screen($M_X2S) {
            font-size: 10px;
            line-height: 1.4;
            padding-bottom: 0;
        }
        @include max-screen($M_X3S) {
            border-top: 0;
        }

        &-devider {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 3px;
			width: 46.51%;
			display: block;
			content: '';
			background-color: $blue;
            @include screen(719px, $M_XS) {
                display: none;
            }
            @include max-screen($M_X2S) {
                display: none;
            }
		}
        &-tags {
            position: relative;
            float: left;
            @include list-reset;
            padding-top: 10px;
            @include max-screen($M_X3S) {
                @include clearfix;
                float: none;
                padding-top: 0;
            }
        }
        &-tag {
            position: relative;
            float: left;
            margin-right: 15px;
            @include max-screen($M_SM) {
                margin-right: 10px;
            }
            &_active {
                .post__footer-link {
                    color: $blue;
                    font-weight: $semibold;
                }
            }
        }
        &-link {
            display: block;
            color: $grey;
            text-decoration: none;
            &:hover {
                color: $blue;
                text-decoration: none;
            }
        }
        &-date {
            position: relative;
            float: right;
            padding-top: 10px;
            sub {
                position: static;
                font-size: 12px;
                line-height: 1.83;
                @include max-screen($M_SM) {
                    font-size: 11px;
                }
                @include max-screen($M_X2S) {
                    font-size: 10px;
                    line-height: 1.4;
                }
            }
            @include max-screen($M_X3S) {
                float: left;
                padding-top: 4px;
            }
        }
        &-button {
            &.button {
                display: block;
            }
            &-wrap {
                clear: both;
                padding-top: 26px;
                padding-left: 35px;
                padding-right: 35px;
                &.mobile-only {
                    display: none;
                    @include screen(719px, $M_XS) {
                        display: block;
                    }
                    @include max-screen($M_X2S) {
                        display: block;
                    }
                }
            }
        }
    }
    &_full {
        .post {
            &__image {
                background-position: top center;
                &:before {
                    padding-bottom: 41.666%;
                }
            }
            &__title {
                margin: 0 0 17px;
                max-width: none;
                @include max-screen($M_SM) {
                    margin-bottom: 15px;
                    font-size: 30px;
                }
                @include max-screen($M_X2S) {
                    margin-bottom: 10px;
                    font-size: 18px;
                    line-height: 20px;
                }
            }
            &__body {
                padding-bottom: 54px;
                @include max-screen($M_XS) {
                    padding-bottom: 20px;
                }
            }
            &__button {
                margin-top: 0;
            }
            &__text {
                padding-right: 50px;
            }
            &__footer {
                &-devider {
        			width: 300px;
        		}
            }
        }
    }
}
