.post {
  &__image {
    margin-bottom: round(30px*$x);
    width: 100%;
    height: auto;
    @include max-screen($M_SM) {
      margin-bottom: 20px;
    }
    @include max-screen($M_X2S) {
      margin-bottom: 10px;
    }
  }
  &__title {
    margin: 0 0 round(20px*$x);
    width: 100%;
    max-width: round(760px*$x);
    font-size: round(36px*$x);
    line-height: 1.36;
    font-weight: $bold;
    color: $dark;
    @include max-screen($M_SM) {
      margin-bottom: 15px;
      font-size: 30px;
    }
    @include max-screen($M_X2S) {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 20px;
    }
  }
  &__body {
    @include clearfix;
    padding-bottom: round(16px*$x);
  }
  &__button {
    position: relative;
    float: right;
    margin-top: round(12px*$x);
    @include max-screen($M_SM) {
      margin-top: 6px;
    }
    &.desktop-only {
      @include max-screen(719px) {
        display: none;
      }
    }
  }
  &__text {
    overflow: hidden;
    padding-right: round(30px*$x);
    font-size: round(18px*$x);
    line-height: 1.6666;
    font-family: $font-serif;
    @include max-screen($M_SM) {
      font-size: 16px;
    }
    @include screen(719px, $M_XS) {
      padding-right: 0;
    }
    @include max-screen($M_X2S) {
      padding-right: 0;
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__footer {
    @include clearfix;
    position: relative;
    padding-bottom: round(53px*$x);
    font-size: round(16px*$x);
    line-height: 1.375;
    letter-spacing: round(2px*$x);
    color: $grey;
    text-transform: uppercase;
    border-top: 1px solid rgba(159, 185, 164, 0.4);
    @include max-screen($M_SM) {
      font-size: 14px;
      letter-spacing: 1px;
    }
    @include screen(719px, $M_XS) {
      padding-bottom: 13px;
    }
    @include max-screen($M_X2S) {
      font-size: 10px;
      line-height: 1.4;
      padding-bottom: 0;
    }
    @include max-screen($M_X3S) {
      border-top: 0;
    }

    &-devider {
      position: absolute;
      bottom: 0;
      left: 0;
      height: round(3px*$x);
      width: 46.51%;
      display: block;
      content: '';
      background-color: $blue;
      @include max-screen(719px) {
        display: none;
      }

      &.relative {
        position: relative;
        margin-left: auto;
        margin-right: auto;
      }

      &.margin {
        margin-bottom: round(40px*$x);
      }
    }
    &-tags {
      position: relative;
      float: left;
      @include list-reset;
      padding-top: round(10px*$x);
      @include max-screen($M_X3S) {
        @include clearfix;
        float: none;
        padding-top: 0;
      }
    }
    &-tag {
      position: relative;
      float: left;
      margin-right: round(15px*$x);
      @include max-screen($M_SM) {
        margin-right: 10px;
      }
      &_active {
        .post__footer-link {
          color: $blue;
          font-weight: $semibold;
        }
      }
    }
    &-link {
      display: block;
      color: $grey;
      text-decoration: none;
      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
    &-date {
      position: relative;
      float: right;
      padding-top: round(10px*$x);
      sub {
        position: static;
        font-size: round(12px*$x);
        line-height: 1.83;
        @include max-screen($M_SM) {
          font-size: 11px;
        }
        @include max-screen($M_X2S) {
          font-size: 10px;
          line-height: 1.4;
        }
      }
      @include max-screen($M_X3S) {
        float: left;
        padding-top: 4px;
      }
    }
    &-button {
      &.button {
        display: block;
      }
      &-wrap {
        clear: both;
        padding-top: round(26px*$x);
        padding-left: round(35px*$x);
        padding-right: round(35px*$x);
        &.mobile-only {
          display: none;
          @include max-screen(719px) {
            display: block;
          }
        }
      }
    }
  }
  &_full {
    .post {
      &__image {
        background-position: top center;
        &:before {
          padding-bottom: 41.666%;
        }
      }
      &__title {
        margin: 0 0 round(17px*$x);
        max-width: none;
        @include max-screen($M_SM) {
          margin-bottom: 15px;
          font-size: 30px;
        }
        @include max-screen($M_X2S) {
          margin-bottom: 10px;
          font-size: 18px;
          line-height: 20px;
        }
      }
      &__body {
        padding-bottom: round(54px*$x);
        @include max-screen($M_XS) {
          padding-bottom: 20px;
        }
      }
      &__button {
        margin-top: 0;
      }
      &__text {
        padding-right: round(50px*$x);
      }
      &__footer {
        &-devider {
          width: round(300px*$x);
        }
      }
    }
  }
}
