.inner {
	max-width: round(1510px*$x);
	margin: 0 auto;
	position: relative;
	@include clearfix;
	&_index {
		padding-top: round(70px*$x);
		max-width: $content-width-mid;
		@include max-screen($M_XS) {
			padding-top: 60px;
		}
	}
	&_category {
		padding-top: round(60px*$x);
		max-width: $content-width-max;
		@include max-screen($M_XS) {
			padding-top: 50px;
		}
	}
	&_content {
		padding-top: round(60px*$x);
		max-width: $content-width-min;
		@include max-screen($M_XS) {
			padding-top: 50px;
		}
	}
	&_text {
		padding-top: round(60px*$x);
		max-width: $content-width-text;
		@include max-screen($M_XS) {
			padding-top: 40px;
		}
	}
	&_article {
		padding-top: round(60px*$x);
		max-width: $content-width-art;
		@include max-screen($M_XS) {
			padding-top: 40px;
		}
	}
	&_unsubscribe {
		position: absolute;
		top: 50%;
		left: 50%;
		@include css3-prefix(transform, translate(-50%, -50%));
		text-align: center;
		padding-bottom: 2em;

		@include max-screen($M_XS) {
			position: initial;
			@include css3-prefix(transform, initial);
		}
	}
}
