{% load blog_tags %}

<div id="js-fixed-info" class="fixed-info">
  <div class="fixed-info__header"><span id="js-fixed-toggle" class="fixed-info__button">
      <svg class="icon icon_burger"><use xlink:href="#icon_burger"></use>
      </svg>
      <svg class="icon icon_arrow-left-simple"><use xlink:href="#icon_arrow-left-simple"></use>
      </svg></span>
    <div class="fixed-info__header-text">Digital strategies for <strong>RMNCAH</strong>
    </div>
  </div>
  <div id="js-fixed-toggled-content" class="fixed-info__body">
    <div class="fixed-info__body-inner">
      <h5 class="fixed-info__body-slogan">Reproductive, Maternal, Newborn, Child, and Adolescent Health
      </h5>
      <div class="fixed-info__body-text">This is a joint effort between <strong>UNF</strong> and <strong>WHO/HRPand </strong> reflects the work conducted related to the <strong>Innovation Working Group Catalytic Grant Mechanism </strong> and guidance materials.
      </div>
      <div class="fixed-info__socials">
        {% url 'blog:landing_view' as landing_url %}
        {% include "blog/partials/social/social-footer.html" with sharer_url=landing_url %}
      </div>
    </div>
  </div>
</div>
