{% load django_markdown %}
{% load thumbnail %}


<div class="posts-list {% if full %} posts-list_full {% endif %}">
  {% if title %}
    <h2 class="posts-list__title title-main">
      <span class="first"><span>{{ title |first }}</span></span><span>{{ title |slice:"1:" }}</span>
    </h2>
  {% endif %}
  <ul class="posts-list__list">
    {% for article in articles %}
      <li class="post posts-list__item">
        <a href="{{ article.get_absolute_url }}">
          {% thumbnail article.cover_image "800" lazy="True" watermark=watermark_article as im %}
            <img src="{{ im.url }}" class="post__image">
          {% endthumbnail %}
          <h3 class="post__title">
            {{ article.title }}
          </h3>
        </a>
        <div class="post__body">
          <a href="{{ article.get_absolute_url }}" class="button desktop-only post__button">CONTINUE READING</a>
          <div class="post__text">
            {{ article.short_description }}
          </div>
        </div>
        <div class="post__footer">
          <ul class="post__footer-tags">
            {% for tag in article.tags.all %}
              <li class="post__footer-tag">
                <a href="{{ tag.get_absolute_url }}" class="post__footer-link">#{{ tag.name }}</a>
              </li>
            {% endfor %}
          </ul>
          <div class="post__footer-date">
            {{ article.published_at |date:"j<\s\u\b>S</\s\u\b> F, Y" |safe }}
          </div>
          <div class="post__footer-devider">
          </div>
          <div class="mobile-only post__footer-button-wrap">
            <a href="{{ article.get_absolute_url }}" class="button post__footer-button">CONTINUE READING</a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
