<div class="widget-links">
  <ul class="widget-links__list">
    <li class="widget-links__item">
      <svg class="icon icon_arrow-link">
        <use xlink:href="#icon_arrow-link"></use>
      </svg>
      <a href="http://who.int/" class="widget-links__link">World Health Organization</a>
    </li>
    <li class="widget-links__item">
      <svg class="icon icon_arrow-link">
        <use xlink:href="#icon_arrow-link"></use>
      </svg>
      <a href="http://www.unfoundation.org/" class="widget-links__link">United Nations Foundations</a>
    </li>
    <li class="widget-links__item">
      <svg class="icon icon_arrow-link">
        <use xlink:href="#icon_arrow-link"></use>
      </svg>
      <a href="http://www.who.int/reproductivehealth/about_us/hrp/" class="widget-links__link">Human Reproduction Programme</a>
    </li>
  </ul>
</div>
