.subscribe {
	&__form {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		&-inner {
			position: relative;
			@include clearfix;
			text-align: center;
		}

		&.has-error .subscribe__field {
		    color: #A94442;
		}
	}
	&__label {
		position: relative;
		text-align: left;
		margin-top: round(13px*$x);
		margin-right: round(58px*$x);
		font-size: round(18px*$x);
		line-height: round(24px*$x);
		color: $dark-grey;
		@include max-screen($M_XS) {
			margin-right: round(12px*$x);
		}
		@include max-screen(930px) {
			margin: 0 0 round(20px*$x);
			float: none;
			@include dib;
			font-size: round(22px*$x);
			line-height: round(30px*$x);
			font-weight: $bold;
			color: #444444;
		}
	}
	&__field {
		position: relative;
		padding-right: round(120px*$x);
		@include max-screen(930px) {
			margin-bottom: round(20px*$x);
			padding: round(11px*$x) round(20px*$x);
			height: auto;
			font-size: round(14px*$x);
			line-height: round(19px*$x);
			border: solid 1px #d4d4d4;
			@include border-radius(round(14px*$x));
		}
		&-wrap {
			position: relative;
			float: left;
			max-width: round(340px*$x);
			@include max-screen(930px) {
				float: none;
				margin: 0 auto;
				padding-left: round(5px*$x);
				padding-right: round(5px*$x);
			}
		}
	}
	&__button {
		position: absolute;
		top: 0;
		right: 0;
		padding-top: round(14px*$x);
		padding-bottom: round(12px*$x);
		width: round(100px*$x);
		height: round(50px*$x);
		min-width: 0;
		display: block;
		font-size: round(18px*$x);
		line-height: round(24px*$x);
		font-weight: $extrabold;
		text-align: center;
		@include border-radius(round(15px*$x) round(15px*$x) round(15px*$x) 0);
		@include max-screen(930px) {
			position: static;
			margin-left: auto;
			margin-right: auto;
			padding-top: round(10px*$x);
			padding-bottom: round(7px*$x);
			width: 100%;
			max-width: round(240px*$x);
			height: auto;
			display: block;
			font-size: round(14px*$x);
			line-height: round(17px*$x);
			font-weight: $bold;
			@include border-radius;
		}
		&:hover {
			padding-top: round(14px*$x);
			padding-bottom: round(12px*$x);
			@include max-screen(930px) {
				padding-top: round(10px*$x);
				padding-bottom: round(7px*$x);
			}
		}
		&_mobile-only {
			display: none;
			@include max-screen(930px) {
				display: block;
			}
		}
		&_desktop-only {
			@include max-screen(930px) {
				display: none;
			}
		}
	}
}
