<div data-sb-width="230px" class="cbp-spmenu cbp-spmenu-right cbp-spmenu-vertical sb-momentum-scrolling sb-right sb-slidebar sb-style-overlay sb-style-push sb-width-custom shifter-navigation">
  <div class="shifter-navigation__inner">
    <nav class="nav-shifted">
      <h3 class="nav-shifted__title">Menu
      </h3>
      <ul class="nav-shifted__list">
        <li class="nav-shifted__item nav-shifted__item_active"><a href="{% url 'blog:landing_view' %}" class="nav-shifted__link">HOME</a>
        </li>
        <li class="nav-shifted__item"><a href="#" class="nav-shifted__link">EXPERT ADVISORY GROUP</a>
        </li>
        <li class="nav-shifted__item"><a href="#" class="nav-shifted__link">ABOUT US</a>
        </li>
        <li class="nav-shifted__item"><a href="#" class="nav-shifted__link">IWG GRANTEES</a>
        </li>
        <li class="nav-shifted__item"><a href="#" class="nav-shifted__link">OPENSRP</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
