.field {
	width: 100%;
	display: block;
	padding: round(6px*$x) round(20px*$x);
	height: round(40px*$x);
	font-size: round(18px*$x);
	line-height: round(24px*$x);
	font-family: $font;
	font-weight: $normal;
	color: $black;
	border: 2px solid $blue;
	background-color: $white;
    @include border-radius(round(15px*$x));
    @include appearance;
	outline: 0 none;
	@include box-shadow (none);
	@include transition;
    @include placeholder {
		color: $grey;
	}
    &:focus {
	    @include appearance;
	    outline: 0 none;
	    @include box-shadow (none);
	    border-color: darken($blue, 10%);
		background-color: #f6f6f6;
		@include transition;
    }
	&_full {
		height: round(50px*$x);
		padding: round(11px*$x);
		padding-bottom: round(11px*$x);
		padding-left: round(12px*$x);
	}
}
