.widget-latest-tweets {
    &__list {
        @include list-reset;
        padding-right: round(10px*$x);
        padding-left: round(10px*$x);

        iframe {
            width: 100% !important;
        }
    }
    &__item {
        position: relative;
        margin-bottom: round(31px*$x);
        padding-top: round(31px*$x);
        padding-left: round(52px*$x);
        font-size: round(14px*$x);
        line-height: round(18px*$x);
        font-family: $font-serif;
        color: #666666;
        border-top: 2px solid rgba(159, 185, 164, 0.4);
        &:first-child {
            padding-top: 0;
            border-top: 0;
            .icon {
                top: round(8px*$x);
            }
        }
        .icon {
            position: absolute;
            left: round(17px*$x);
            top: round(38px*$x);
            margin-top: round(-6px*$x);
            display: block;
            width: round(22px*$x);
            height: round(24px*$x);
            fill: #55acee;
        }
    }
    &__text {
        margin-bottom: round(15px*$x);
    }
    &__author {
        position: relative;
        padding-left: round(4px*$x);
        &:before {
			position: absolute;
			top: 50%;
			left: round(-40px*$x);
            margin-top: -1px;
			height: round(2px*$x);
			width: round(30px*$x);
			display: block;
			content: '';
			background-color: rgba(159, 185, 164, 0.4);
		}
    }
}
