<div style="height: 0; width: 0; position: absolute; visibility: hidden" class="hidden">
  {% include "partials/svg-images/svg-images.html" %}
</div>
<div class="page">
  <div class="header-wrap">
    {% include "partials/header/header.html" %}
  </div>
  <div class="main-wrap">
    <!--main-->
    <main role="main" class="main">
      {% include "partials/slider/slider.html" with articles=featured_articles %}
      {% include "partials/categories-links/categories-links.html" %}
      {% include "partials/fixed-info/fixed-info-mobile.html" %}
      <div class="inner inner_index">
        <div class="blog-full">
          <section class="blog-full__col blog-full__col_posts">
            {% include "partials/posts-list/posts-list.html" with articles=article_list %}
            {% include "partials/posts-nav/posts-nav.html" %}
          </section>
          <section class="blog-full__col blog-full__col_sidebar">
            <div class="sidebar">
              <aside class="widget widget_links">
                <h4 class="widget__title">Links
                </h4>
                {% include "partials/widget-links/widget-links.html" %}
              </aside>
              <aside class="widget widget_top-articles">
                <h4 class="widget__title">Top articles
                </h4>
                {% include "partials/widget-top-articles/widget-top-articles.html" with articles=top_articles %}
              </aside>
              <aside class="widget widget_latest-tweets">
                <h4 class="widget__title">Latest tweets
                </h4>
                {% include "partials/widget-latest-tweets/widget-latest-tweets.html" %}
              </aside>
              <aside class="widget widget_tags">
                <h4 class="widget__title">Tags
                </h4>
                {% include "partials/widget-tags/widget-tags.html" with tags=top_tags %}
              </aside>
              <aside class="widget widget_docs">
                <h4 class="widget__title">DOCUMENTS
                </h4>
                {% include "partials/widget-docs/widget-docs.html" with documents=featured_documents %}
              </aside>
            </div>
          </section>
        </div>
      </div>
    </main>
  </div>
  <!--main END-->
  <div class="footer-wrap">
    {% include "partials/footer/footer.html" %}
  </div>
</div>
