{% load django_markdown %}


<div class="content-text">
  <div class="article__body-content">
    <p>
      The IWG Catalytic mHealth Grant Mechanism is a <strong>UNF–WHO/HRP</strong> collaboration funded by
      the Norwegian Agency for Development Cooperation (Norad), and is part of
      the UN Secretary General’s Every Woman Every Child initiative.
      This grant mechanism has served as a strategic investment for accelerating
      mHealth innovations that focus on strengthening health systems in developing
      countries in order to improve RMNCH. Between 2011 and 2015, the programme
      supported the scaling up of 26 mHealth projects by providing funding,
      technical assistance and joint learning opportunities.
    </p>
  </div>
  <div class="post__footer-devider relative margin"></div>
  <h3>{{ round.name }} Grantees:</h3>
  <div class="grantee-list__list">
  {% for grantee in grantee_list %}
    <div class="grantee grantee-list__item">
      <a href="{{ grantee.get_absolute_url }}" class="grantee-link">
        <h4 class="grantee-title">{{ grantee.title }}</h4>
      </a>

      {{ grantee.short_description | markdown }}

      {% if grantee.documents.all.0 %}
        <div class="article__body-incut">
          {% include "attachments/widgets/document-link.html" with document=grantee.documents.all.0 %}
        </div>
      {% endif %}
      {% if not forloop.last %}
        <div class="post__footer-devider relative"></div>
      {% endif %}
    </div>
  {% empty %}
    <p>No Grantees</p>
  {% endfor %}
  </div>
</div>
