{% load static %}

<!--header-->
<header class="header">
  <div class="header__inner">
    <span style="background-image:url({% static 'images/hrp-logo.png' %})" class="header__logo"></span>
    <div class="header__search-mobile">
      {% include "partials/search/search-mobile.html" %}
    </div>
    <div class="header-nav-shifted-handle menu-right push-body sb-toggle-right">
      <svg class="icon icon_burger"><use xlink:href="#icon_burger"></use>
      </svg>
    </div>
    <div class="header__search-social">
      <div class="header__social">
        {% include "partials/social/social.html" %}
      </div>
      <div class="header__search">
        {% include "partials/search/search-top.html" %}
      </div>
    </div>
    <div class="header__nav">
      {% include "partials/header/nav.html" %}
    </div>
  </div>
</header>
<!--header END-->
